@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-50 antialiased transition-colors duration-1000 dark:bg-gray-900 dark:text-neutral-200;
  }
  .swiper {
    @apply flex flex-col;
  }

  .swiper-wrapper {
    @apply order-first;
  }

  .swiper-scrollbar {
    @apply relative rounded bg-gray-200 dark:bg-gray-600;
  }

  .swiper-horizontal > .swiper-scrollbar {
    @apply z-10 mb-0 mt-4 h-0.5 w-full sm:mt-6;
  }

  .swiper-vertical > .swiper-scrollbar {
    @apply absolute right-1 top-0 z-10 h-full w-0.5;
  }

  .swiper-scrollbar-drag {
    @apply dark:bg-light-dark relative rounded bg-gray-900;
  }

  .swiper-horizontal .swiper-scrollbar-drag {
    @apply left-0 top-[-1px] h-[3px] w-full shadow-sm;
  }

  .swiper-vertical .swiper-scrollbar-drag {
    @apply left-[-1px] top-0 h-full w-[3px] shadow-sm;
  }

  .swiper-scrollbar-cursor-drag {
    @apply cursor-move;
  }

  .swiper-scrollbar-lock {
    @apply hidden;
  }
}

.homepage .section-discover {
  /* background: url('/images/waveline-white.svg'), linear-gradient(90deg, #FFDFA9 0%, rgba(255, 100, 103, 0.2) 100%, rgba(255, 100, 103, 0.2) 100%, #F9D8D9 100%); */
  background: linear-gradient(
    90deg,
    #ffdfa9 0%,
    rgba(255, 100, 103, 0.2) 100%,
    rgba(255, 100, 103, 0.2) 100%,
    #f9d8d9 100%
  );
  background-repeat: no-repeat;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 10px;
}

html.light .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #e22644;
}
html.dark .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #ffffff;
}

@keyframes graphicx {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(150px);
  }
}

@keyframes graphicy {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(-50px);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.awan-3 {
  animation: graphicx 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.04);
}

.awan-4 {
  animation: graphicy 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.04);
}
